<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/index.css'/>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet"/>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/play.js" ></script>
    <script type="text/javascript" src="/js/ui.js" ></script>
</head>
<body>
    <div id="map">
        <div id="main-title" class="non-game">TRIVIA</div>
        <div id="play-buttons" class="non-game">
            {{#if loggedIn}}
                <button id="play-button-play">Play</button>
                <button id="play-button-logout">Play</button>
            {{else}}
                <!--<input id="user-name" type="text" placeholder="Username">-->
                <!--<input id="user-password" type="password" placeholder="Password">-->
                <!--<button id="play-button-register">Register</button>-->
                <!--<button id="play-button-login">Login</button>-->

                <!--Use aliases before I implement user support-->
                <input id="alias" type="text" placeholder="Alias">
                <button id="play-button">Play</button>
            {{/if}}
        </div>

        {{#each points}}
            <div id="point-{{id}}" class="game point"></div>
        {{/each}}

        <div id="player1" class="game"></div>
        <div id="player2" class="game"></div>
        <div id="confirm" class="game popup"></div>

        <div id="blur" class="question"></div>
        <img id="loading" src="/resources/images/loading.gif">
        <div id="status-bar" class="game"></div>

        <div id="question-multiple" class="question popup">
            <h1 id="question-multiple-question"></h1>
            <button class="question-multiple-answer"></button>
            <button class="question-multiple-answer"></button>
            <button class="question-multiple-answer"></button>
            <button class="question-multiple-answer"></button>
            <div class="question-status"></div>
        </div>
        <div id="question-guess" class="question popup">
            <h1 id="question-guess-question"></h1>
            <input type="number" class="question-guess-answer" placeholder="Enter Answer"/>
            <div class="question-status"></div>
        </div>

        <div id="tips" class="game"></div>
    </div>
</body>
</html>
